export("assessMP", 
       "runShinyMP", 
       "assessmentCPUE",
       "exampleBET_jointCPUE_DataFilePath")
importFrom("stats",
           "aggregate",
           "nlminb")
importFrom("graphics",
           "par",
           "plot",
           "lines",
           "points",
           "polygon",
           "abline")
importFrom("ggplot2", 
           "ggplot",
           "ggtitle", 
           "xlab", 
           "ylab", 
           "theme", 
           "theme_bw", 
           "aes", 
           "geom_line", 
           "geom_point", 
           "geom_ribbon", 
           "scale_linetype_manual",
           "scale_shape_manual",
           "scale_color_manual",
           "scale_y_continuous",
           "element_blank")
importFrom("patchwork",
           "plot_layout")
importFrom("shiny",
           "reactive",
           "validate",
           "renderPlot",
           "renderUI",
           "fluidPage",
           "titlePanel",
           "sidebarPanel",
           "sidebarLayout",
           "fileInput",
           "h3",
           "textOutput",
           "mainPanel",
           "tabsetPanel",
           "tabPanel",
           "htmlOutput",
           "plotOutput",
           "HTML",
           "shinyApp",
           "tags")
importFrom("methods", 
           "is", 
           "new")
useDynLib(PT41F.t15.tmb.MP)